<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>movies Index</title>
  </head>

  <body>
    <%- include('../partials/nav') %>
    <!-- update the header -->
    <h1>Edit <%= movie.name %></h1>
    <form action="/movies/<%=movie._id%>?_method=PUT" method="POST">
     <fieldset>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= movie.name %>" />
     </fieldset>

     <fieldset>
      <label for="rating">rating:</label>
      <input type="number" name="rating" id="rating" value="<%= movie.rating %>" />
     </fieldset>

     <fieldset>
      <label for="description">description:</label>
      <textarea type="text" name="description" id="description" value="<%= movie.description %>" ></textarea>
     </fieldset>

     <button type="submit">Update Fruit</button>
    </form>
    <a href="/movies">Back to movies</a>
  </body>
  
</html>